<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인하의 모험</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="screens/index.js"></script>
</head>
<body>
<div class="container">
    <div class="drawer">
        <button class="drawer-icon"><i class="fas fa-bars"></i></button>
        <div class="drawer-content">
            <ul>
                <li><a onclick="getProfile()">내정보 보기</a></li>
                <li><a onclick="logout()">로그아웃</a></li>
                <li><a onclick="deleteUser()">회원탈퇴</a></li>
            </ul>
        </div>
    </div>
    <h1>인하의 모험</h1>
    <div class="menu-shortcut">
        <ul>
            <li><a href="game?stage=1">1 스테이지</a></li>
            <li><a href="game?stage=2">2 스테이지</a></li>
            <li><a href="game?stage=3">3 스테이지</a></li>
            <li><a href="game?stage=4">4 스테이지</a></li>
            <li><a href="game?stage=5">5 스테이지</a></li>
        </ul>
    </div>
    <div class="ranking-shortcut">
        <button><i class="fas fa-medal"></i> 랭킹표</button>
    </div>
</div>

</body>
</html>