<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
  <link rel="stylesheet" type="text/css" href="src/login/login.css">
  <script type="module" src="src/signup/signup.js" defer></script>
</head>
<body>
<div class="container">
  <h1>회원가입</h1>
  <div class="login-form">
    <input id="nickname-form" type="text" placeholder="닉네임" required>
    <input id="id-form" type="text" placeholder="아이디" required>
    <input id="password-form" type="password" placeholder="비밀번호" required>
    <button id="signup-button" type="submit">회원가입</button>

  </div>

</div>
<div class="notification-container" id="notification-container"></div>
</body>
</html>

