<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
  <link rel="stylesheet" type="text/css" href="src/login/login.css">
  <script type="module" src="src/signup/signup.js" defer></script>
</head>
<body>
<div class="container">
  <h1>지원서</h1>
  <div class="login-form">
    <div class="left">
      닉네임
      <input id="nickname-form" class="input-form" type="text" placeholder="닉네임" required>
      아이디
      <input id="id-form" class="input-form" type="text" placeholder="아이디" required>
      비밀번호
      <input id="password-form" class="input-form" type="password" placeholder="비밀번호" autocomplete="new-password"
             required>
    </div>
    <button id="signup-button" type="submit">제출하기</button>
  </div>

</div>
<div class="notification-container" id="notification-container"></div>
</body>
</html>

