body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181e24;
    font-family: "pixel", sans-serif;
    padding: 20px;
    color: white;
}


.header {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    flex-direction: column;
}

.header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*스테이지 버튼*/
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stage-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.stage-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: white;
    line-height: 60px;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 24px;
    text-decoration: none;
}

.unlock {
    background-color: #8751fb;
}

.lock {
    background-color: #5e586c;
}

/*별 아이콘*/
.star-icons {
    display: flex;
}

.star {
    width: 20px; /* 별 아이콘의 가로 크기 */
    height: 20px; /* 별 아이콘의 세로 크기 */
    background: black;
    margin-right: 5px; /* 별 아이콘 사이의 간격 */
}

.gray{
    background: #5e586c;
}
.yellow{
    background: yellow;
}

/*랭킹*/

.top-right {
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.ranking-button {
    margin-bottom: 10px;
}

.ranking-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rank {
    margin-right: 10px;
}

.nickname {
    margin-right: 10px;
}

.starText,
.moveText {
    font-weight: bold;
}

